<div class="filters-container">
  <div class="filter-section">
    <h3>Filter by Type:</h3>
    <div class="type-filters">
      <label class="type-filter">
        <input type="radio" [formControl]="selectedTypeControl" value="all">
        All Types
      </label>

      @for (pokemonType of pokemonTypes$ | async; track pokemonType.name) {
      <label class="type-filter">
        <input type="radio" [formControl]="selectedTypeControl" [value]="pokemonType.name">
        {{ pokemonType.name }}
      </label>
      }
    </div>
  </div>

  <div class="control-group">
    <label>
      Order by
      <select [formControl]="selectedOrderControl">
        <option value="id">id</option>
        <option value="asc">name (ascending)</option>
        <option value="desc">name (descending)</option>
      </select>
    </label>
  </div>

  <div class="control-group">
    <label>
      Search by name
      <input type="text" [formControl]="searchControl">
    </label>
  </div>
</div>

@if (isLoading) {
<p class="loading">Loading pokemons...</p>
} @else if (hasData) {
<ul class="pokemon-list">
  @for (pokemon of filteredPokemons$ | async; track pokemon.name) {
  <li class="pokemon-item" [routerLink]="['details', pokemon.name]">
    <div class="pokemon-image">
      <img [src]="pokemon.defaultSprite" [alt]="'image-' + pokemon.name">
    </div>
    <div class="pokemon-name">{{ pokemon.name }}</div>
    <div class="pokemon-types">
      @for (type of pokemon.types; track type.slot) {
      <span class="pokemon-type type-{{type.type.name}}">{{ type.type.name }}</span>
      }
    </div>
  </li>
  }
</ul>
} @else {
<p class="empty-state">No pokemons found</p>
}